* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas-container {
  background: radial-gradient(circle, rgb(16, 28, 83) 0%, rgba(93, 63, 141, 0.842) 53%, rgba(0, 0, 0, 0.815) 100%);
}

#canvas-container, body, html, #root {
  height: 100%;
}
